{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <nav>
        {% include "blog/post/includes/navbar.html" %}
    </nav>
    <div class="flex flex-col mx-auto items-center m-3">
        <h1 class="text-amber-400 text-4xl mb-4">Log in</h1>
        {% if form.errors %}
            <p class="border bg-red-200 border-red-400 text-red-800 px-3 rounded-xl mb-4 mx-auto">
                Username or Password Invalid. Please try again
            </p>
        {% else %}
        {% endif %}
        <div class="border border-amber-400 p-5 rounded-2xl mx-2">
            <form action="{% url "account:login" %}"
                  method="post"
                  class="text-amber-200 ">
                {% for field in form.visible_fields %}
                    <div class="mx-auto">
                        <p class=" text-red-800 p-4 mx-auto">{{ field.errors }}</p>
                        <span class="text-xl text-amber-400 flex flex-col mb-1">{{ field.label }}</span>
                        {{ field|add_class:"text-2xl text-amber-100 border border-amber-400 px-2 rounded-2xl focus:border-2 focus:border-amber-600" }}
                    </div>
                {% endfor %}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" value="Log In" class="btn mt-4">
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}
