<div class="mt-3 w-full">
    <form action='{% url "blog:post_comment" post.id %}'
          method="post"
          class="items-center rounded-md border-2 px-3 py-1.5 text-amber-300">
        <span class="text-xs">Name
            <div>{{ form.name }}</div>
        </span>
        <span class="text-xs">Email
            <div>{{ form.email }}</div>
        </span>
        <p class="text-xs mb-1">Body</p>
        {{ form.body }} {% csrf_token %}
        <input type="submit" value="Add Comment" class="btn mb-2" />
    </form>
</div>
