{% load django_browser_reload %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Américo's Sound Blog Page." />
    <title>{% block title %} My Bloggy {% endblock title %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-gray-50 dark:bg-gray-800 text-amber-50">
    {% block navbar %} {% endblock navbar %}
    <div id="content" class="p-4 sm:ml-64">
      <div
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
      >
        {% block content %} {% endblock content %}
      </div>
    </div>
    {% block sidebar %} {% endblock sidebar %}
  </body>
</html>
