{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Américo's Sound Blog Page." />
    <title>
      {% block title %}
        Sound Blog
      {% endblock title %}
    </title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-gray-800">
    {% include "blog/navbar.html" %}
    <main id="content" class="mx-3 justify-items-center py-2">
      {% block content %}
      {% endblock content %}
    </main>
    <aside id="sidebar">
      {% block sidebar %}
      {% endblock sidebar %}
    </aside>
    <footer id="footer">
      {% block footer %}
      {% endblock footer %}
    </footer>
  </body>
</html>
