{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Américo's Sound Blog Page." />
    <title>
      {% block title %}
        Sound Blog
      {% endblock title %}
    </title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-slate-900 text-amber-100 font-roboto h-screen flex flex-col">
    <nav>
      {% include "blog/post/includes/navbar.html" %}
    </nav>
    <main class="mx-3 justify-items-center py-2">
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      {% include "blog/post/includes/footer.html" %}
    </footer>
  </body>
</html>
