{% extends "blog/base.html" %}
{% block sidebar %}
  <aside id="sidebar"
         class="fixed top-18 left-0 z-40 h-screen w-64 -translate-x-full bg-cyan-900 transition-transform sm:translate-x-0"
         aria-label="Sidebar">
    <div class="h-full overflow-y-auto bg-gray-50 px-3 py-4 dark:bg-gray-800">
      <h2>My Blog Sidebar</h2>
      <ul class="space-y-2 font-medium">
        <li>
          <p class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            This is my blog
          </p>
        </li>
        <li>
          <p class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            This is my blog
          </p>
        </li>
        <li>
          <p class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            This is my blog
          </p>
        </li>
        <li>
          <p class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            This is my blog
          </p>
        </li>
      </ul>
    </div>
  </aside>
{% endblock sidebar %}
