{% extends "blog/base.html" %}
{% block title %}
  Add a comment.
{% endblock
title %}
{% block content %}
  {% if comment %}
    <h2 class="mb-1.5 text-xl text-amber-200">Your comment has been added.</h2>
    <p class="text-md rounded-2xl border bg-gray-800 text-center text-amber-500 hover:bg-amber-300 hover:font-bold hover:text-gray-900">
      <a href="{{ post.get_absolute_url }}">Back to the post</a>
    </p>
  {% else %}
    {% include "blog/post/includes/comment_form.html" %}
  {% endif %}
{% endblock content %}
