{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <h1 class="text-amber-400 text-3xl">{{ post.title }}</h1>
    <p class="text-gray-300 text-xs font-thin">Published {{ post.publish }} by {{ post.author }}</p>
    <span class="text-gray-200">{{ post.body|linebreaks }}</span>
    <p>
        <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
    </p>
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
        <div>
            <p class="text-amber-300">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.creted }}</p>
            {{ comment.body| linebreaks }}
        </div>
    {% empty %}
    <p>No comments.</p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
{% endblock content %}
