{% extends "blog/base.html" %}
{% block title %}
    Share a post
{% endblock title %}
{% block content %}
    {% if sent %}
        <h1>Email Succesfully sent.</h1>
        <p>"{{ post.title }}" was succesfully sent to {{ form.cleaned_data.to }}.</p>
    {% else %}
        <div class="text-gray-200">
            <h1 class="text-amber-400 text-3xl">Share "{{ post.title }} by email"</h1>
            <form method="post"
                  novalidate
                  class="py-2 bg-amber-700 border-1 rounded-md px-2.5 mt-2">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Send email">
            </form>
        </div>
    {% endif %}
{% endblock content %}
